@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/Outfit-VariableFont-Converted/Outfit-VariableFont_wght.woff2) format("woff2-variations");
    font-weight: 400 700;
    font-display: swap;
}
@font-face {
    font-family: 'YoungSerif';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular-Converted/YoungSerif-Regular.woff2) format("woff2-variations");
    font-weight: 400;
    font-display: swap;
}
/* CUSTOM PROPERTIES */
:root {
    /* Colors */

    --neutral-color-100: hsl(30, 54%, 90%);
    --neutral-color-200: hsl(30, 18%, 87%);
    --neutral-color-600: hsl(30, 10%, 34%);
    --neutral-color-700: hsl(14, 45%, 36%);
    --neutral-color-900: hsl(24, 5%, 18%);

    --accent-color-100: hsl(330, 100%, 98%);
    --accent-color-800: hsl(332, 51%, 32%);

    --white: hsl(0, 0%, 100%);

    /* Typography */
    --ff-sans: "Outfit", sans-serif;
    --ff-serif: "YoungSerif", serif;

    --fs-300: 0.75rem; /*12px*/
    --fs-400: .875rem; /*14px*/
    --fs-450: 1rem; /*16px*/
    --fs-500: 1.25rem; /*20px*/
    --fs-600: 1.5rem; /*24px*/
    --fs-650: 1.75rem; /*28px*/
    --fs-700: 2rem; /*32px*/
    --fs-900: 2.5rem; /*40px*/

    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

    /* Spacing */
    --small-100: 0.25rem; /*4px*/
    --small-200: 0.5rem; /*8px*/
    --medium-200: 0.75rem; /*12px*/
    --medium-400: 1rem; /*16pxpx*/
    --large-300: 1.25rem; /*20px*/
    --large-400: 1.5rem; /*24px*/
    --large-600: 2rem; /*32px*/
    --large-800: 2.5rem; /*40px*/
    --xl-500: 5.5rem; /*88px*/
    --xl-700: 8rem; /*128px*/
}

/* RESET */
*::after,
*::before,
* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    font-style: italic;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    text-wrap: pretty;
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 1rem;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
    padding: 0;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* COMPOSITION */
body {
    margin: 0;
    font-family: var(--ff-sans);
    font-size: var(--fs-450);
    color: var(--neutral-color-600);
    background-color: var(--neutral-color-100);
    line-height: 1.5;
}

h1 {
    font-size: var(--fs-900);
    color: var(--neutral-color-900);
}

li {
    padding-inline-start: var(--medium-200);
}

li::marker {
    font-weight: var(--fw-700);
    color: var(--neutral-color-700);
}

/* UTILITIES */
.flow > * + * {
    margin-block-start: var(--flow-space, var(--large-600));
}

.wrapper {
    width: min(46rem, 95%);
    margin-inline: auto;
    margin-block: var(--xl-700);
    padding: var(--large-800);
}

.border-bottom {
    border-block-end: solid 1px var(--neutral-color-200);
}

.bold {
    font-weight: var(--fw-700);
}

:where([class="title"]){
    font-family: var(--ff-serif);
    font-size: var(--fs-650);
    font-weight: var(--fw-400);
    color: var(--neutral-color-700);
    line-height: 1;
}

[class="subtitle"]{ 
    font-size: var(--fs-500);
    color: var(--accent-color-800);
    line-height: 1;
}

/* BLOCKS */
.recipe {
    background-color: var(--white);
    border-radius: var(--large-400);
}

.recipe__img {
    border-radius: var(--medium-200);
    margin-block-end: var(--large-800);
}

.recipe__content .title {
    margin-block-end: var(--large-400);
}

.recipe__content .subtitle {
    margin-block-end: var(--medium-400);
}

.preparation {
    padding: var(--large-400);
    border-radius: var(--medium-200);
    background-color: var(--accent-color-100);
}

.preparation__list,
.ingredients__list,
.instructions__list {
    --flow-space: var(--small-200);
}

table {
   width: 100%;
   border-spacing: 0;
}

caption {
    text-align: left;
}

caption p {
    margin-block-end: var(--large-400);
}

tr {
    text-indent: 10%;
}

td {
    padding-block: .5rem;
}

td .bold {
    color: var(--neutral-color-700);
}

/* EXCEPTIONS */
[data-flow="bottom"] {
    padding-block-end: var(--large-600);
}


@media (width < 376px){
    .wrapper{
        width: 100%;
        margin: 0;
    }
    .recipe {
        border-radius: 0;
        padding: 0;
    }
    .recipe__img {
        border-radius: 0;
    }
    .recipe__content {
        padding: var(--large-800) var(--large-600);
    }
    h1 {
        font-size: var(--fs-700);
    }
    tr {
        text-indent: 20%;
    }
}
